<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="modal fade" id="captchaModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please enter the CAPTCHA</h4>
      </div>
      <form method="POST">
      <div class="modal-body">
        <p>We are sure that you aren't robot, prove it =)</p>
      </div>
      {% raw captcha %}
      <input type='hidden' name='uuid' value='{{ uuid }}' />
      <div class="modal-footer">
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        $('#captchaModal').modal({
          show: true,
          backdrop: 'static',
          keyboard: false
        });
    });
</script>
</body>
</html>